@model List<ProjektLAB.Models.Dane.Cars>

@{
    ViewData["Title"] = "Home";
}

<h1>Find a car for yourself!</h1>

@if (User.IsInRole("Administrator"))
{
    <a asp-action="Create">Add a new car</a>
}

@foreach (var car in Model)
{
    <div>
        <h3>@car.Brand @car.Model</h3>
        
        @if (!User.IsInRole("Administrator"))
        {
            <a asp-action="Reservation" asp-route-id="@car.CarId">Rent</a>
        }
        
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@car.CarId">Edit</a>
            <a asp-action="Delete" asp-route-id="@car.CarId">Delete</a>
        }
    </div>
}
